pandas
matplotlib
numpy
dash
dash-bootstrap-components
spyder
jupyterlab
scipy
streamlit
emd
solara
seaborn
pywavelets
emd
sphinx 
sphinx_rtd_theme 
openpyxl
passlib
tqdm
openpyxl
plotly-resampler
jupytext
nbconvert
great_tables
